codigos-node-red/flow_nos.json
[
    {
        "id": "71ea7b476ea1ec12",
        "type": "tab",
        "label": "Fluxo Estação Metereológica",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e177641a920dc8cd",
        "type": "inject",
        "z": "71ea7b476ea1ec12",
        "repeat": "10",
        "once": true,
        "onceDelay": "1",
        "payload": "",
        "payloadType": "date",
        "x": 750,
        "y": 20,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "fd5b1e75abc27a4a",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/temperatura",
        "broker": "brok",
        "inputs": 0,
        "x": 740,
        "y": 60,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "7cdab8d23228f3a7",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/umidade",
        "broker": "brok",
        "inputs": 0,
        "x": 720,
        "y": 120,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "dd9d4387a519b587",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/luminosidade",
        "broker": "brok",
        "inputs": 0,
        "x": 740,
        "y": 180,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "796d103ff42f92d9",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/gas",
        "broker": "brok",
        "inputs": 0,
        "x": 710,
        "y": 240,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "30221124a801e156",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/previsao",
        "broker": "brok",
        "inputs": 0,
        "x": 720,
        "y": 300,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "92661813041a4e16",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/conforto",
        "broker": "brok",
        "inputs": 0,
        "x": 720,
        "y": 360,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "3bcc2db84768a1fe",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/api/temperatura",
        "broker": "brok",
        "inputs": 0,
        "x": 750,
        "y": 420,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "65d7df48ef47c780",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/api/umidade",
        "broker": "brok",
        "inputs": 0,
        "x": 740,
        "y": 540,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "c472488a73fed9da",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/api/pressao",
        "broker": "brok",
        "inputs": 0,
        "x": 730,
        "y": 660,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "2bc7f723010d974f",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/api/vento",
        "broker": "brok",
        "inputs": 0,
        "x": 730,
        "y": 720,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "aaefab8cb4fc106f",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/api/sensacao",
        "broker": "brok",
        "inputs": 0,
        "x": 740,
        "y": 780,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "e9d9cbfa84573b31",
        "type": "mqtt in",
        "z": "71ea7b476ea1ec12",
        "topic": "estacao/api/descricao",
        "broker": "brok",
        "inputs": 0,
        "x": 740,
        "y": 840,
        "wires": [["63a6a7d865719f68"]]
    },
    {
        "id": "63a6a7d865719f68",
        "type": "function",
        "z": "71ea7b476ea1ec12",
        "name": "Armazena e renderiza",
        "func": "var d = flow.get('dados') || {};\nif(msg.topic) d[msg.topic] = msg.payload;\nif(!msg.topic) d['hora'] = new Date().toLocaleString('pt-BR',{timeZone:'America/Sao_Paulo'});\nflow.set('dados', d);\n\nvar t  = d['estacao/temperatura'] || '--';\nvar h  = d['estacao/umidade'] || '--';\nvar l  = d['estacao/luminosidade'] || '--';\nvar g  = d['estacao/gas'] || '--';\nvar pr = d['estacao/previsao'] || '--';\nvar co = d['estacao/conforto'] || '--';\nvar at = d['estacao/api/temperatura'] || '--';\nvar ah = d['estacao/api/umidade'] || '--';\nvar ap = d['estacao/api/pressao'] || '--';\nvar av = d['estacao/api/vento'] || '--';\nvar as = d['estacao/api/sensacao'] || '--';\nvar ad = d['estacao/api/descricao'] || '--';\nvar hr = d['hora'] || '--';\n\nmsg.t = t; msg.h = h; msg.l = l; msg.g = g;\nmsg.pr = pr; msg.co = co; msg.at = at; msg.ah = ah;\nmsg.ap = ap; msg.av = av; msg.as = as; msg.ad = ad;\nmsg.payload = '';\nreturn msg;",
        "outputs": 1,
        "x": 1030,
        "y": 410,
        "wires": [["b23ba0f7a03af58f"]]
    },
    {
        "id": "b23ba0f7a03af58f",
        "type": "ui_template",
        "z": "71ea7b476ea1ec12",
        "group": "e3d4dc565ef4b799",
        "name": "Dashboard Visual",
        "order": 1,
        "width": "12",
        "height": "16",
        "format": "<!-- Cole aqui o conteúdo do arquivo dashboard_layout.html -->",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1270,
        "y": 410,
        "wires": [[]]
    },
    {
        "id": "brok",
        "type": "mqtt-broker",
        "name": "HiveMQ",
        "broker": "SEU_CLUSTER.hivemq.cloud",
        "port": "8883",
        "tls": true,
        "clientid": "nodered-estacao",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true
    },
    {
        "id": "e3d4dc565ef4b799",
        "type": "ui_group",
        "name": "Dashboard",
        "tab": "tab",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "tab",
        "type": "ui_tab",
        "name": "Estação",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
